.homepage {
  width: 50vw;
  display: flex;
  margin: auto;
  margin-top: 10%;

  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
  position: relative;
  box-shadow: 0 0 15px 5px grey;
}

.homepage > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
